{{ requireJs('main.bundle', 2) }}
<body>
{% include 'includes/header.twig' %}
{% set settings = grabPageLanguage(page.pageLanguages).settings %}
{# {% include 'includes/menu.twig' %} #}
<main class="eds-section">

    <div class="eds-location-vista">
        <div class="eds-location-vista__wrapper">
            <div class="eds-location-vista__image">
                {% if settings and settings.image %}
                    {{ settings.image|optimizeImage([
                        {
                            'imageWidth': '520',
                            'mediaMinWidth': '320',
                            'aspect_ratio': '3x4',
                            'compression': '5'
                        },
                        {
                            'imageWidth': '920',
                            'mediaMinWidth': '700',
                            'aspect_ratio': '4x3',
                            'compression': '5'
                        },
                        {
                            'imageWidth': '1224',
                            'mediaMinWidth': '1024',
                            'aspect_ratio': '21x9',
                            'compression': '5'
                        },
                        {
                            'imageWidth': '1920',
                            'mediaMinWidth': '1920',
                            'aspect_ratio': '21x9',
                            'compression': '5'
                        },
                        {
                            'imageWidth': '2560',
                            'mediaMinWidth': '2560',
                            'aspect_ratio': '21x9',
                            'compression': '5'
                        }
                    ]) }}
                {% endif %}
            </div>


            <div class="eds-location-vista__content eds-width--c10">

                <div class="eds-location-vista__title">
                    <span>{{ settings.municipality }}</span>
                </div>

                <div class="eds-location-vista__properties">

                    <div class="eds-location-vista__properties-item">
                        <span>{{ settings.district.name }}</span><span>•</span><span>{{ settings.meters_above_sea_level|number_format(0, ',', ' ') }} {{ getConstant('meters_above_sea_level') }}</span>
                    </div>

                    <div class="eds-location-vista__properties-item eds-location-vista__properties-item--right">
                        <span>{{ settings.population|number_format(0, ',', ' ') }} {{ getConstant('population') }}</span>
                    </div>
                    <div class="eds-location-vista__properties-item">
                        <span>{{ settings.price.price|format_currency('EUR', locale: 'de') }}</span><span>•</span><span style="color: {{ settings.price.color }}">{{ getConstant('price_' ~ settings.price.label) }}</span>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="eds-location-content__wrapper">
        <div class="eds-location-texts">

            {% for key in settings.descriptions|keys %}

                <div class="eds-location-texts__text">

                    <div class="eds-location-texts__headline">
                        <h2>{{ getConstant('municipality_headline_' ~ key) }}</h2>
                    </div>

                    <div class="eds-location-texts__text">
                        <h2>{{ settings.descriptions[key]) }}</h2>
                    </div>

                </div>

            {% endfor %}

        </div>

        <div class="eds-location-info__table">

            {% for item in settings.infrastructureTable %}


                <div class="eds-location-info__row">
                    <div class="eds-location-info__column"><b>{{ item.table_label }}</b></div>
                    <div class="eds-location-info__column"><span>{{ item.table_value == 'yes' ? getConstant('yes') : (item.table_value == 'no' ? getConstant('no') : item.table_value) }}</span></div>
                </div>

            {% endfor %}

        </div>

    </div>

    <a class="eds-location-reference" href="{{ generateLink(item.district.slug) }}">
        <div class="eds-location-reference__image">

        </div>
        <div class="eds-location-reference__content">

            <div class="eds-location-reference__title">
                <h2>{{ item.district.name }}</h2>
            </div>

            <div class="eds-location-reference__text">
                <span>{{ item.district.referenceText }}</span>
            </div>

        </div>
    </a>

</main>
<footer>

    {% include 'includes/legal-menu.twig' %}
    {% include 'includes/tracking-banner.twig' %}
</footer>
</body>