{#
    Default header

    Programmed with two logos, header disapears when scrolling down and reapears in a smaller form when scrolling up
    Has only one level of navigation

#}
{% set excludeItems = getPageLanguageContent(grabPageLanguage(page))|filter(x => x.elementDefinition.handle == 'subpage-vista' or x.elementDefinition.handle == 'home-vista')|length %}

<header class="eds-header {{ excludeItems == 0 ? 'eds-header--static' : '' }}">
    <div class="eds-header__wrapper eds-width--c10">
        <div class="eds-header__logo">
            <a href="{{ grabPageLanguageUrl(getSitePage('home')) }}">

                {# Big Logo variant and smaller Logo variant #}
                <img src="" alt="" class="eds-header__logo--main"/>
                <img src="" alt="" class="eds-header__logo--secondary"/>

            </a>
        </div>
        <nav class="eds-header__nav">
            {# First level navigation #}
            {% for page in sitePageTree()|filter(x => x.handle == 'home')[0].children %}
                {% if grabPageLanguage(page).visible and grabPageLanguage(page).showInNavigation %}
                    <a href="{{ grabPageLanguageUrl(page.pageLanguages) }}" class="{{ currentPageBreadcrumb()|filter(x => x.handle == page.handle) ? 'eds-page--active' }}">
                        <span>{{ grabPageLanguage(page.pageLanguages).title }}</span>
                    </a>
                {% endif %}
            {% endfor %}

        </nav>
        {# Language Menu #}
        <div class="eds-header__lang-select">
            <div class="eds-header__lang-current">
                <span>{{ grabPageLanguage(page.pageLanguages).language.shortName }}</span>
                <span class="eds-icon eds-icon--keyboard_arrow_down"></span>
            </div>
            <div class="eds-header__lang-menu">
                {% if shop_item %}
                    {% for pageLang in page.pageLanguages|filter(x => x.language.shortName != grabPageLanguage(page.pageLanguages).language.shortName) %}
                        <a href="{{ grabPageLanguageUrl(pageLang, {
                            parameters: {
                                pimUrlSegment: dataSourceItem('shop', '', shop_item.product.uuid, pageLang.language.shortName).urlSegment
                            }
                        }) }}">
                            <span>{{ pageLang.language.shortName }}</span>
                        </a>
                    {% endfor %}
                {% else %}
                    {% for pageLang in page.pageLanguages|filter(x => x.language.shortName != grabPageLanguage(page.pageLanguages).language.shortName) %}
                        <a href="{{ grabPageLanguageUrl(pageLang) }}">
                            <span>{{ pageLang.language.shortName }}</span>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="eds-header__menu-toggle js-menu-toggle">
            <span class="eds-icon eds-icon--menu"></span>
        </div>
    </div>
</header>