<div class="eds-home-text-image {{ content.color_select }} {{ content.invert ? 'eds-home-text-image--invert' }}">
    <div class="eds-home-text-image__wrapper eds-width--c8">

        <div class="eds-home-text-image__content">

            <div class="eds-home-text-image__headline">
                <h2>{{ content.title|formatHeadline }}</h2>
            </div>

            <div class="eds-home-text-image__text">
                {{ content.text|raw }}
            </div>

            <div class="eds-home-text-image__button">

                {% for button in content.buttons %}

                    <a class="eds-button" href="{{ generateLink(button.buttonlink) }}">
                        <span>{{ button.buttonlabel }}</span>
                    </a>

                {% endfor %}
            </div>

        </div>
        <div class="eds-home-text-image__image">
            {{ content.image|optimizeImage([
                {
                    'imageWidth': '420',
                    'mediaMinWidth': '320',
                    'aspect_ratio': '3x4',
                    'compression': '10',
                    'contain': content.contain
                },
                {
                    'imageWidth': '920',
                    'mediaMinWidth': '700',
                    'aspect_ratio': '4x3',
                    'compression': '10',
                    'contain': content.contain
                },
                {
                    'imageWidth': '1224',
                    'mediaMinWidth': '1024',
                    'aspect_ratio': '16x9',
                    'compression': '10',
                    'contain': content.contain
                },
                {
                    'imageWidth': '1400',
                    'mediaMinWidth': '1224',
                    'aspect_ratio': '16x9',
                    'compression': '5',
                    'contain': content.contain
                },
                {
                    'imageWidth': '1600',
                    'mediaMinWidth': '1440',
                    'aspect_ratio': '16x9',
                    'compression': '5',
                    'contain': content.contain
                }
            ]) }}
        </div>

    </div>
</div>